site_name: WriteBase
site_url: https://doc.writebase.app
docs_dir: docs
  
theme:
  name: material
  logo: assets/logo.png
  favicon: assets/icon.png
  palette:
    scheme: default
    primary: white
    accent: deep purple
  font:
    text: system-ui, Inter, sans-serif
    code: Roboto Mono, monospace
  features:
    - navigation.instant
    - navigation.sections
    - search.suggest
    - toc.follow

extra_css:
  - extra.css

markdown_extensions:
  - toc:
      toc_depth: 4
      title: On this page
      baselevel: 1
