:root,
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #7c3aed;
  --md-primary-fg-color--light: #9f67ff;
  --md-primary-fg-color--dark: #5b21b6;
  --md-accent-fg-color: #7c3aed;
}

.md-header,
.md-tabs {
  background-color: #7c3aed;
}
