h1, h2, h3, h4 {
  font-weight: 700 !important;
  color: #363737 !important;
}

body, p, li, td {
  font-size: 19px !important;
  line-height: 30px !important;
}

.md-typeset h1 {
  margin: 0 !important;
}
